.btn-yellow {
  text-decoration: none;
  padding: 0.5em 0.9em;
  text-align: center;
  background: rgba(254, 216, 83, 1.00);
  border-radius: 4px;
  font-weight: 800;
  color: #000;
  opacity: 1;
}

.btn-yellow:hover {
  opacity: 0.8;
}



.btn-yellow-lg {
  text-decoration: none;
  padding: 0.8em 1em;
  text-align: center;
  background: rgba(254, 216, 83, 1.00);
  border-radius: 4px;
  font-weight: 800;
  color: #000;
  opacity: 1;
}

.btn-yellow-lg:hover {
  opacity: 0.9;
}
