<div class="hide-on-mobile" style="position: fixed; padding-left: 1em; top: 70px; font-size: 0.7em;">
  <h3 style="border-left: 2px solid rgba(244, 75, 40, 1.00); text-align:left; padding: 0 0.8em;">
  {% if site.lang == "en" %}{{page.menu}}{% else %}{{page.menucn}}{% endif %}</h3>
  <ul style="margin-left: -0.5em; text-align: left; list-style: none;">
    <li style="margin-bottom: 0.8em;">
      <a href="{% t nav_links.home %}">{% t navigation.home %}</a>
    </li>
    <li style="margin-bottom: 0.8em;">
      <div style="margin-bottom: 0.8em;">{% t navigation.event %}</div>
      <ul style="margin-left: -0.5em; text-align: left; list-style: none;">
 <!--        <li style="margin-bottom: 0.8em"><a href="{% t nav_links.event_2 %}">{% t navigation.event_2 %}</a></li> -->
        <li><a href="{% t nav_links.event_1 %}">{% t navigation.event_1 %}</a></li>
        <li>
          <a href="{% t nav_links.event_2 %}" style="position: relative">{% t navigation.event_2 %}
            <div style="position: absolute; top: -10px; right:-30px">
              <span class="ts" style="font-size: 0.5em; text-align: center; padding: 4px; border-top-right-radius: 4px; border-top-left-radius: 4px; border-bottom-right-radius: 4px; background: rgba(237, 50, 30, 1.00); color: white;">New</span>
            </div>
          </a>
        </li>
      </ul>
    </li>
    <li style="margin-bottom: 0.8em;">
      <div style="margin-bottom: 0.8em;">{% t navigation.workshop %}</div>
      <ul style="margin-left: -0.5em; text-align: left; list-style: none;">
        <li style="margin-bottom: 0.8em;"><a href="{% t nav_links.workshop_1 %}">{% t navigation.workshop_1 %}</a></li>
      </ul>
    </li>
    <li style="margin-bottom: 0.8em;">
      <a href="{% t nav_links.survey %}">{% t navigation.survey %}</a>
    </li>
    <li style="margin-bottom: 0.8em;">
      <a href="{% t nav_links.about %}">{% t navigation.about %}</a>
    </li>
    <li style="margin-bottom: 0.8em;">
      <a href="{% t nav_links.photos %}">{% t navigation.photos %}</a>
    </li>
    <li style="margin-bottom: 0.8em;">
      <a href="{% t nav_links.contact %}">{% t navigation.contact %}</a>
    </li>
  </ul>
  <div style="text-align: left; margin-bottom: 2em;">
    <div>Next event:</div>
    <div style="background: rgba(254, 216, 83, 1.00); padding: 5px; border-radius: 5px; width: 80%;">
      <div style="color: rgba(244, 75, 40, 1.00)">2020 Podcast Survey</div>
      <div style="color: white;">May 6, 2020</div>
<!--       <div><a href="https://yoopay.cn/event/20447184">马上报名</a></div> -->
    </div>
  </div>
  <div style="text-align: left;">
    {% if site.lang == "en" %}
    <a href="/" style="text-decoration: none; border-radius: 9999px; padding: 0.5em 0.8em; text-align: center; color: white; background: rgba(244, 75, 40, 1.00)">中文</a>
    {% elsif site.lang == "cn" %}
    <a href="/en" style="text-decoration: none; border-radius: 9999px; padding: 0.5em 0.8em; text-align: center; color: white; background: rgba(244, 75, 40, 1.00)">English</a>
    {% endif %}
  </div>
</div>
