<div class="hide-on-mobile" style="position: fixed; padding-left: 1em; top: 100px; font-size: 0.7em;">
  <h3 style="border-left: 2px solid #1B9CE2; text-align:left; padding: 0 0.8em;">
  {% if site.lang == "en" %}{{page.menu}}{% elsif site.lang == "cn" %}{{page.menucn}}{% endif %}</h3>
  <ul style="margin-left: -0.5em; text-align: left; list-style: none;">
    <li style="margin-bottom: 0.8em;">
      <a href="{% t nav_links.home %}">{% t navigation.home %}</a>
    </li>
    <li style="margin-bottom: 0.8em;">
      <a href="{% t nav_links.schedule %}">{% t navigation.schedule %}</a>
    </li>
    <li style="margin-bottom: 0.8em;">
      <a href="{% t nav_links.speakers %}">{% t navigation.speakers %}</a>
    </li>
    <li style="margin-bottom: 0.8em;">
      <a href="{% t nav_links.photos %}">{% t navigation.photos %}</a>
    </li>
    <li style="margin-bottom: 0.8em;">
      <a href="{% t nav_links.sponsors %}">{% t navigation.sponsors %}</a>
    </li>
    <li style="margin-bottom: 0.8em;">
      <a href="{% t nav_links.contact %}">{% t navigation.contact %}</a>
    </li>
  </ul>
  <div style="margin-bottom: 2em;">
    <a href="" class="btn-yellow">Register Now</a>
  </div>
  <div style="text-align: left;">
    {% if site.lang == "en" %}
    <a href="/cn" style="text-decoration: none; border-radius: 9999px; padding: 0.5em 0.8em; text-align: center; color: white; background: rgba(27, 156, 226, 1.00)">中文</a>
    {% elsif site.lang == "cn" %}
    <a href="/" style="text-decoration: none; border-radius: 9999px; padding: 0.5em 0.8em; text-align: center; color: white; background: rgba(27, 156, 226, 1.00)">English</a>
    {% endif %}
  </div>
</div>
