<div class="hide-on-mobile" style="position: fixed; padding-left: 1em; top: 100px; font-size: 0.7em;">
  <h3 style="border-left: 2px solid #1B9CE2; text-align:left; padding: 0 0.8em;">{{page.menu}}</h3>
  <ul style="margin-left: -0.5em; text-align: left; list-style: none;">
    <li style="margin-bottom: 0.8em;">
      <a href="#">Home</a>
    </li>
    <li style="margin-bottom: 0.8em;">
      <a href="#">Schedule</a>
    </li>
    <li style="margin-bottom: 0.8em;">
      <a href="#">Speakers</a>
    </li>
    <li style="margin-bottom: 0.8em;">
      <a href="#">Photos</a>
    </li>
    <li style="margin-bottom: 0.8em;">
      <a href="#">Sponsors</a>
    </li>
  </ul>
  <div>
    <a href="" class="btn-yellow">Register Now</a>
  </div>
</div>
