{% assign active = page.url | downcase | split: '/' %}

<header class="header">
  <div style="display: flex; align-items: center; justify-content: space-between;">
    <div class="logo">
      <a href="/" style="text-decoration: none;">
        <div style="position: relative">
          China Podfest 2019
          {% if site.lang == "en" %}
          <a href="/" style="text-decoration: none; border-radius: 9999px; padding: 0.2em 0.8em; text-align: center; color: white; background: rgba(244, 75, 40, 1.00); font-size: 0.4em; position: absolute; right: -45px; top: 8px;">中文</a>
          {% elsif site.lang == "cn" %}
          <a href="/en" style="text-decoration: none; border-radius: 9999px; padding: 0.2em 0.8em; text-align: center; color: white; background: rgba(244, 75, 40, 1.00); font-size: 0.4em; position: absolute; right: -45px; top: 8px;">English</a>
          {% endif %}
        </div>
      </a>
    </div>
    <div class="hamburger" onclick="showMenu()">
      <img src="../assets/images/hamburger.png" alt="" style="height: 24px; width: 24px;">
    </div>
  </div>
</header>
<div class="mobile-menu" id="open-mobile" onclick="closeMenu()">
  <div class="close-menu" onclick="closeMenu()">×</div>
  <div class="mobile-direction" style="text-align: left;">
    <div class="mobile-header">
      <div class="mobile-title">
        Menu
      </div>
    </div>
    <ul style="list-style: none; margin-left: -25px;">
      <li style="margin-bottom: 1em;"><a class="mobile-link" href="/">Home</a></li>
      <li style="margin-bottom: 1em;"><a class="mobile-link" href="/">Schedule</a></li>
      <li style="margin-bottom: 1em;"><a class="mobile-link" href="/">Speakers</a></li>
      <li style="margin-bottom: 1em;"><a class="mobile-link" href="/">Photos</a></li>
      <li style="margin-bottom: 1em;"><a class="mobile-link" href="/">Sponsors</a></li>
    </ul>
  </div>
</div>


<script>
  function showMenu() {
    document.getElementById("open-mobile").style.right = "0";
    document.getElementById("open-mobile").style.left = "0";
  }
  function closeMenu() {
    document.getElementById("open-mobile").style.right = "100%";
    document.getElementById("open-mobile").style.left = "-100%";
  }
</script>
