{% assign active = page.url | downcase | split: '/' %}

<header class="header">
  <div style="display: flex; align-items: center; justify-content: space-between;">
    <div class="logo">
      <a href="/" style="text-decoration: none;">
        China Podfest 2019
      </a>
    </div>
    <div class="hamburger" onclick="showMenu()">
      <img src="../assets/images/hamburger.png" alt="" style="height: 24px; width: 24px;">
    </div>
  </div>
</header>
<div class="mobile-menu" id="open-mobile" onclick="closeMenu()">
  <div class="close-menu" onclick="closeMenu()">×</div>
  <div class="mobile-direction" style="text-align: left;">
    <div class="mobile-header">
      <div class="mobile-title">
        Menu
      </div>
    </div>
    <ul style="list-style: none; margin-left: -25px;">
      <li style="margin-bottom: 1em;"><a class="mobile-link" href="/">Home</a></li>
      <li style="margin-bottom: 1em;"><a class="mobile-link" href="/">Schedule</a></li>
      <li style="margin-bottom: 1em;"><a class="mobile-link" href="/">Speakers</a></li>
      <li style="margin-bottom: 1em;"><a class="mobile-link" href="/">Photos</a></li>
      <li style="margin-bottom: 1em;"><a class="mobile-link" href="/">Sponsors</a></li>
    </ul>
  </div>
</div>


<script>
  function showMenu() {
    document.getElementById("open-mobile").style.right = "0";
    document.getElementById("open-mobile").style.left = "0";
  }
  function closeMenu() {
    document.getElementById("open-mobile").style.right = "100%";
    document.getElementById("open-mobile").style.left = "-100%";
  }
</script>
